<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
  <!-- <title>Login & Signup Form | CodingNepal</title> -->
  <link rel="stylesheet" href="/assets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
  <div class="title-text">
    <div class="title login">
      Login Form</div>
    <div class="title signup">
      Signup Form</div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked (click)="showSigninForm()">
      <input type="radio" name="slide" id="signup" (click)="showSignupForm()">
      <label for="login" class="slide login" >Login</label>
      <label for="signup" class="slide signup" >Signup</label>
      <div class="slider-tab">
      </div>
    </div>
    <div class="form-inner">
      <ng-container *ngIf="signin">
        <form action="#" class="login" (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm">
          <div class="field">
            <input [(ngModel)]="form.username" type="text" name="username" placeholder="username"  required>
          </div>
          <div class="field">
            <input [(ngModel)]="form.password"  name="password" type="password" placeholder="Password" required>
          </div>
          <div class="pass-link">
            <a href="#">Forgot password?</a></div>
          <div class="field btn">
            <div class="btn-layer">
            </div>
            <input type="submit" value="Login" (click)="onSubmit()">
          </div>
          <div class="signup-link">
            Not a member? <a href="">Signup now</a></div>
        </form>
      </ng-container>
      <ng-container *ngIf="signup">
        <form  action="#" class="signup" (ngSubmit)="a.form.valid && onSubmit1()" #a="ngForm">
          <div class="field">
            <input [(ngModel)]="form.username" name="username" type="text" placeholder="username" required>
          </div>
          <div class="field">
            <input [(ngModel)]="form.email" name="email" type="text" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input [(ngModel)]="form.password" name="password" type="password" placeholder="password" required>
          </div>
          <div class="field btn">
            <div class="btn-layer">
            </div>
            <input type="submit" value="Signup" (click)="onSubmit1()">
          </div>
        </form>
      </ng-container>


    </div>
  </div>
</div>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
  signupBtn.onclick = (()=>{
    loginForm.style.marginLeft = "-50%";
    loginText.style.marginLeft = "-50%";
  });
  loginBtn.onclick = (()=>{
    loginForm.style.marginLeft = "0%";
    loginText.style.marginLeft = "0%";
  });
  signupLink.onclick = (()=>{
    signupBtn.click();
    return false;
  });
</script>

</body>
</html>
