<app-nav-bar></app-nav-bar>

<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form action="">

    <div class="form-group">
      <label for="name">id</label>
      <input [(ngModel)]="employee.id" name="id" type="text" class="form-control" id="id" required >
    </div>

    <div class="form-group">
      <label for="name">nom</label>
      <input [(ngModel)]="employee.nom" name="nom" type="text" class="form-control" id="nom" required >
    </div>

    <div class="form-group">
      <label for="name">prenom</label>
      <input [(ngModel)]="employee.prenom" name="ref" type="text" class="form-control" id="ref" required >
    </div>
    <div class="form-group">
      <label for="name">adresse</label>
      <input [(ngModel)]="employee.adress" name="prix" type="text" class="form-control" id="prix" required >
    </div>

    <button (click)="save(employee)" type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" >Add</button>
</div>
