<app-nav-bar></app-nav-bar>


<div class="container mt-5">
  <h2 class="center">Employee Table</h2>

  <table class="table table-striped">
    <thead>
    <tr >
      <th>id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Adress</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of employee">
      <td>{{e.id}}</td>
      <td>{{e.nom}}</td>
      <td>{{e.prenom}}</td>
      <td>{{e.adress}}</td>
      <td></td>
      <td>
        <button class="btn btn-info" style="margin-left: 10px" (click)="delete(e.id)">
          delete
        </button>

        <button type="button" class="btn btn-warning" style="margin-left: 10px" routerLink="/updateproducts">Update</button>

      </td>
    </tr>

    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="goToaddemployee()">Add Employee</button>
</div>
